.lock {
  width: 52px;
  height: 80px;
  background-position: -34px -24px;
}

.frown {
  width: 84px;
  height: 84px;
  background-position: -124px -22px;
}

.rainbow {
  width: 66px;
  height: 62px;
  background-position: -236px -37px;
}

.masks {
  width: 69px;
  height: 68px;
  background-position: -370px -25px;
}

.question {
  width: 50px;
  height: 81px;
  background-position: -479px -18px;
}

.eye {
  width: 79px;
  height: 51px;
  background-position: -570px -32px;
}

.magnet {
  width: 79px;
  height: 82px;
  background-position: -16px -130px;
}

.earth {
  width: 82px;
  height: 82px;
  background-position: -122px -129px;
}

.arrow {
  width: 61px;
  height: 60px;
  background-position: -242px -140px;
}

.weirdL {
  width: 70px;
  height: 72px;
  background-position: -361px -128px;
}

.building {
  width: 47px;
  height: 75px;
  background-position: -477px -126px;
}

.cane {
  width: 54px;
  height: 76px;
  background-position: -580px -125px;
}

.hand-splayed {
  width: 68px;
  height: 80px;
  background-position: -24px -240px;
}

.sleeping-face {
  width: 71px;
  height: 72px;
  background-position: -130px -247px;
}

.moon {
  width: 82px;
  height: 70px;
  background-position: -239px -244px;
}

.die {
  width: 73px;
  height: 84px;
  background-position: -361px -234px;
}

.lightbulb {
  width: 49px;
  height: 89px;
  background-position: -482px -232px;
}

.open-book {
  width: 82px;
  height: 79px;
  background-position: -575px -239px;
}

.paratrooper {
  width: 63px;
  height: 78px;
  background-position: -30px -358px;
}

.fountain {
  width: 71px;
  height: 69px;
  background-position: -129px -362px;
}

.pyramid {
  width: 76px;
  height: 64px;
  background-position: -234px -365px;
}

.fish {
  width: 83px;
  height: 60px;
  background-position: -343px -367px;
}

.key {
  width: 82px;
  height: 64px;
  background-position: -456px -364px;
}

.creditcard {
  width: 88px;
  height: 73px;
  background-position: -565px -360px;
}

.smiley {
  width: 84px;
  height: 86px;
  background-position: -126px -462px;
}

.cellphone {
  width: 76px;
  height: 72px;
  background-position: -239px -475px;
}

.sheep {
  width: 86px;
  height: 59px;
  background-position: -338px -473px;
}

.airplane {
  width: 77px;
  height: 62px;
  background-position: -459px -472px;
}

.scales {
  width: 83px;
  height: 79px;
  background-position: -569px -465px;
}

.shadow {
  width: 71px;
  height: 78px;
  background-position: -16px -578px;
}

.house {
  width: 66px;
  height: 78px;
  background-position: -129px -576px;
}

.bumblebee {
  width: 73px;
  width: 81px;
  background-position: -243px -578px;
}

.scarab {
  width: 72px;
  height: 82px;
  background-position: -340px -574px;
}

.thought-bubble {
  width: 88px;
  height: 71px;
  background-position: -448px -585px;
}

.bridge {
  width: 88px;
  height: 62px;
  background-position: -566px -587px;
}

.flower {
  width: 58px;
  height: 82px;
  background-position: -25px -696px;
}

.tent {
  width: 52px;
  height: 80px;
  background-position: -126px -699px;
}

.tree {
  width: 60px;
  height: 82px;
  background-position: -223px -702px;
}

.directions {
  width: 86px;
  height: 84px;
  background-position: -348px -700px;
}

.shooting-star {
  width: 75px;
  height: 74px;
  background-position: -465px -706px;
}

.castle-tower {
  width: 47px;
  height: 77px;
  background-position: -589px -709px;
}

.fire {
  width: 65px;
  height: 84px;
  background-position: -20px -805px;
}

.apple {
  width: 61px;
  height: 85px;
  background-position: -124px -805px;
}

.lightning-bolt {
  width: 40px;
  height: 79px;
  background-position: -239px -815px;
}

.footprint {
  width: 63px;
  height: 81px;
  background-position: -348px -808px;
}

.flashlight {
  width: 74px;
  height: 68px;
  background-position: -454px -814px;
}

.ayy-lmao {
  width: 66px;
  height: 82px;
  background-position: -576px -812px;
}

.magnifying-glass {
  width: 70px;
  height: 69px;
  background-position: -17px -928px;
}

.clock {
  width: 82px;
  height: 90px;
  background-position: -115px -918px;
}

.wand {
  width: 65px;
  height: 73px;
  background-position: -230px -927px;
}

.turtle {
  width: 74px;
  height: 80px;
  background-position: -341px -924px;
}

.arrow {
  width: 73px;
  height: 63px;
  background-position: -456px -931px;
}

.abacus {
  width: 78px;
  height: 60px;
  background-position: -571px -934px;
}
